:root {
   --bg-hero-clr: #ffbf69;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html {
   font-size: 62.5%;
   box-sizing: border-box;
   height: 100%;
   scroll-behavior: smooth;
}

@media only screen and (max-width: 62.5em) {
   html {
      font-size: 50%;
   }
}

body {
   font-family: 'Nunito', sans-serif;
   color: black;
   height: 100%;
}

.text-bold {
   font-weight: 900;
   color: #fff !important;
}

.header {
   background-color: var(--bg-hero-clr);
   padding: 2rem 5rem;
   text-align: center;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.main-nav__list {
   list-style: none;
   display: flex;
   align-items: center;
   gap: 4.8rem;
}

@media only screen and (max-width: 56.25em) {
   .header {
      flex-direction: column;
      gap: 3rem;
   }

   .header__title {
      align-self: start;
   }

   .main-nav__list {
      flex-direction: column;
      gap: 2rem;
      justify-content: center;
   }
}

.main-nav__link:link,
.main-nav__link:visited {
   display: inline-block;
   text-decoration: none;
   color: #000;
   font-weight: 500;
   font-size: 1.8rem;
   transition: all 0.3s;
}

.main-nav__link:hover,
.main-nav__link:active {
   color: #cf711f;
}

.section-title {
   font-size: 2rem;
   color: #000;
   font-weight: 700;
   margin-bottom: 1rem;
}

.hero {
   background-color: var(--bg-hero-clr);
}

.hero__box {
   max-width: 130rem;
   padding: 0 4.8rem;
   display: flex;
   align-items: center;
   margin: 0 auto;
}


.hero__title {
   color: #fff;
   font-size: 10rem;
   font-weight: 700;
   text-transform: uppercase;
}

@media only screen and (max-width: 25em) {
   .hero__title {
      font-size: 8rem;
   }
}


.hero__description {
   max-width: 50rem;
}

.hero__description-text {
   color: #fff;
   font-size: 1.6rem;
   font-weight: 500;
}

.hero__logo {
   width: 50%;
   object-fit: cover;
}

.hero__logo-image {
   width: 100%;
   transition: all 0.3s;
}

.hero__logo-image:hover {
   transform: scale(1.05) translateY(-0.5rem);
   z-index: 20;
}

@media only screen and (max-width: 50em) {
   .hero__box {
      padding: 0 2.4rem;
      flex-direction: column;
      gap: 5rem;
      margin: 0 auto;
   }

   .hero__logo {
      width: 100%;
      max-width: 50rem;
      object-fit: cover;
   }

   .hero__description {
      max-width: 100%;
   }
}

.hero__btn {
   background-color: #cbf3f0;
   font-size: 2rem;
   margin-top: 4rem;
   padding: 1rem 4.5rem;
   border: none;
   border-radius: 0.4rem;
   cursor: pointer;
   transition: all 0.3s;
}

.hero__btn:hover {
   background-color: #fff;
}

.question {
   padding: 4rem 0;
   text-align: center;
   margin: 0 auto;
   max-width: 80rem;
}

.question__description {
   font-size: 1.6rem;
   line-height: 1.3;
   color: #333;
   font-weight: 300;
   margin-bottom: 2rem;
}

.product {
   background-color: #cbf3f0;
   text-align: center;
   padding: 7rem;
}

.product__box {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   justify-content: center;
   justify-items: center;
   margin-top: 3rem;
   gap: 4rem;
}


.product__card {
   max-width: 20rem;
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

@media only screen and (max-width: 31.25em) {
   .product__box {
      grid-template-columns: 1fr;
      gap: 5rem;
   }

   .product__card {
      max-width: 100%;
      gap: 1rem;
   }
}

.product__image {
   width: 70%;
   height: 70%;
   object-fit: cover;
   margin: 0 auto;
   transition: all 0.3s;
}

.product__image:hover {
   transform: scale(1.05) translateY(-0.5rem);
   z-index: 20;
}

.product__text {
   font-size: 1.8rem;
   color: #000;
   font-weight: 500;
}

.product__button {
   background-color: #ffbf69;
   align-self: center;
   font-size: 1.8rem;
   padding: 1rem 4.5rem;
   border: none;
   border-radius: 0.4rem;
   cursor: pointer;
   transition: all 0.3s;
}

.product__button:hover {
   background-color: #cf711f;
}

.playground {
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 120rem;
   margin: 0 auto;
   padding: 6rem;
   position: relative;
}

.playground__bg {
   position: absolute;
   z-index: -1;
   width: 100%;
   top: 0;
   left: 0;
   transform: translateY(10%);
}

.playground__description {
   max-width: 60rem;
   margin-right: 4rem;
}

.playground__description-text {
   font-size: 1.6rem;
   color: #333;
   font-weight: 300;
   line-height: 1.3;
   margin-top: 2rem;
}

.playground__image-box {
   max-width: 40rem;
}

.playground__image {
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: all 0.3s;
}

.playground__image:hover {
   transform: scale(1.05) translateY(-0.5rem);
   z-index: 20;
}

@media only screen and (max-width: 56.25em) {
   .question {
      padding: 4rem 2vw;
      max-width: 80rem;
   }

   .playground {
      flex-direction: column;
      gap: 5rem;
      position: relative;
   }

   .playground__bg {
      /* make absoute center */
      top: 10;
   }

   .playground__description {
      max-width: 100%;
      margin-right: 0;
   }

   .playground__image-box {
      max-width: 100%;
   }
}

@media only screen and (max-width: 25em) {
   .playground {
      padding: 6rem 2vw;
   }
}


.footer {
   background-color: #333;
   padding: 4rem;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   margin-top: 5rem;
}

.footer__text {
   color: #ccc;
   font-size: 1.8rem;
   font-weight: 500;
}

@media only screen and (max-width: 18.75em) {
   .footer__text {
      font-size: 1.5rem;
   }
}

.main-nav {
   transform: translate(0);
   transition: transform 0.5s ease-in-out;
}

@media only screen and (max-width: 56.25em) {
   .main-nav {
      transform: translateY(-80%);
      height: 0;
      opacity: 0;
   }
}

@media only screen and (max-width: 56.25em) {
   .main-nav.active {
      transform: translateY(0);
      height: 100%;
      opacity: 1;
   }
}

.toggle-button {
   position: absolute;
   top: 2rem;
   right: 4rem;
   display: none;
   width: 2.5rem;
   height: 3rem;
}

@media only screen and (max-width: 56.25em) {
   .toggle-button {
      display: block;
   }
}

.toggle-button .bar {
   display: block;
   position: absolute;
   height: 3px;
   width: 100%;
   background: #d3531a;
   opacity: 1;
   left: 0;
   transform: rotate(0deg);
   transition: 0.25s ease-in-out;
}

.toggle-button .bar:nth-child(1) {
   top: 0px;
}

.toggle-button .bar:nth-child(2) {
   top: 6px;
}

.toggle-button .bar:nth-child(3) {
   top: 12px;
}

.toggle-button.active .bar {
   height: 3px;
   margin-right: 5rem;
}

.toggle-button.active .bar:nth-child(1) {
   top: 6px;
   transform: rotate(135deg);
}

.toggle-button.active .bar:nth-child(2) {
   opacity: 0;
   left: -30px;
}

.toggle-button.active .bar:nth-child(3) {
   top: 6px;
   transform: rotate(-135deg);
}